<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- analytics Tab -->
    <ion-tab title="Analytics" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/analytics">
        <ion-nav-view name="tab-analytics"></ion-nav-view>
    </ion-tab>
    <!-- Chats Tab -->
    <ion-tab title="Deploy" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/deploy">
        <ion-nav-view name="tab-deploy"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Push" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/push">
        <ion-nav-view name="tab-push"></ion-nav-view>
    </ion-tab>
</ion-tabs>
